.dash-content{
    display: block;
    /* background-color: white; */
    min-height: 100vh;
}
.profile-pic{
    display: block;
    /* margin-top: 20px; */
    /* border: 20px solid red; */
    /* background-color: red; */
    position: relative;
    top: 150px;
}

.profile-pic h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* text-transform: capitalize; */

}


.center-crop {
    width: 150px;
    height: 150px;
    /* background-image: url('https://images.unsplash.com/photo-1569878698889-7bffa1896872?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
    /* object-position: center; */
    /* margin-top: 10px; */
  }

button {
    /* background-color: white; */
    /* color: red; */
    /* z-index: 1; */
}

