.dashboard-content{
    display: block;
    min-height: fit-content;
}
.profile-pic{
    display: block;
    /* margin-top: 20px; */
    /* border: 20px solid red; */
    /* background-color: red; */
    /* background-color: black; */

    position: relative;
    top: 150px;
}

.profile-pic h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* text-transform: capitalize; */

}


.center-crop {
    width: 150px;
    height: 150px;
    /* background-image: url('https://images.unsplash.com/photo-1569878698889-7bffa1896872?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
    /* object-position: center; */
    /* margin-top: 10px; */
  }

  .new-text h2{
    font-family: 'Montserrat', sans-serif !important;
  }

  @media (max-width:540px){
    .profile-pic{

        top: 60px;
    }

    .shop-form{
        margin-top: 5rem;
    }

    .shops{
        margin-top: 1rem;
    }

    

  }

  @media (max-width:375px){
    .profile-pic{

        top: 30px;
    }
    .shops{
        margin-top: 2rem;
    }

  }

  @media (min-width:1024px){
    .profile-pic{

        top: 0px;
    }
    .shops{
        margin-top: 0rem;
        height: 12rem;
    }

    .shop-form{
        margin-top: 1rem;
    }

  }

  @media (max-width:330px){
    .shop-input{
        width: 15rem;
    }

  }

  @media (max-width:280px){
    .shop-form{
        margin-top: 3rem;
    }

  }

